use flake
export CLAUDE_CODE_OAUTH_TOKEN="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"
export GITHUB_TOKEN="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"
export GITHUB_COPILOT_TOKEN="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"
export GITHUB_USERNAME="mikkihugo"
export GITHUB_MODELS_URL="https://models.github.ai/inference/chat/completions"
export GITHUB_COPILOT_URL="https://api.githubcopilot.com/chat/completions"
